.content {
    display: flex;
    flex-direction: column;
}

.content__welcome {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

.content__dev-notes {
    display: flex;
    align-items: flex-end;
    flex: 1;
}

.content__controls {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    padding: 29px 38px;
}

.content__title {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.content__sign-input {
    display: flex;
    flex-direction: column;
    padding: 46px 0;
}

.content__sign {
    display: flex;
    padding: 46px 0;
}

.content__follow {
    display: flex;
    justify-content: flex-end;
}

.content__not-found {
    padding: 347px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}