.sing-up {
    min-width: 180px;
    background: transparent;
    border: 2px solid #D9D9D9;
    padding: 16px 45px;
}

.sing-up:hover {
    background-image: radial-gradient(ellipse farthest-corner at 50% 50%, #949494, #949494,);
}

.sing-in {
    min-width: 180px;
    background: transparent;
    border: 0; 
    padding: 16px 45px;
}

.sing-in:hover {
    background-image: radial-gradient(ellipse farthest-corner at 50% 50%, #949494, #949494,);
}