.sing-in {
    margin-right: 5px;
}

.follow-us {
    margin-right: 33px;
    margin-top: 20px;
}

.vector {
    margin-bottom: 40px;
}

.github {
    margin-left: 42px;
    margin-top: 60px;
}

.content__sign.-auth {
    padding: 23px 0;
}

.sing-in.-auth {
    padding: 16px 0;
    min-width: 0;
}

.primary-input.-bottom {
    margin-top: 24px;
}


.content__sign.-reg {
    padding: 23px 0;
    justify-content: flex-end;
}

.devnotes-image {
    height: 100vh;
}