* {
  margin: 0;
  padding: 0;
}

body {
  background: #1B1D1F;
}

@font-face {
  font-family: 'DatCub';
  src: local('DatCub'), url(fonts/DatCub-Regular.woff) format('woff');
}

@import url("styles/base.css");